<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="CustomerInfoDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\18159\source\repos\CustomerMaintenance\CustomerMaintenance\CustomerInfo.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>